<p style="color: green"><%= notice %></p>

<% content_for :title, "Wiki posts" %>

<h1>Wiki posts</h1>

<div id="wiki_posts">
<table>
  <thead>
  <tr>
  <th>title</th>
  <th>created</th>
  <th>updated</th>  
  </tr>
  </thead>
  <tbody>
    <% @wiki_posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, wiki_post_path(post) %></td>
          <td><%= post.created_at.strftime('%B %d, %Y') %></td>
          <td><%= post.updated_at.strftime('%B %d, %Y') %></td>
        </tr>
    <% end %>  
  </tbody>
</table>
</div>

<%= link_to "New wiki post", new_wiki_post_path %>
