<p style="color: green"><%= notice %></p>

<%= render @wiki_post %>


<h1><%= @wiki_post.title.titleize %></h1>
<% if @wiki_post.image.attached? %>
<%= image_tag @wiki_post.image %>
<% end %>
<p><%= @wiki_post.description %></p>
<p>Author: <%= @wiki_post.author.titleize %></p>

<p> Created on <%=  @wiki_post.created_at.strftime('%B %d %Y') %>


<div>
  <%= link_to "Edit this wiki post", edit_wiki_post_path(@wiki_post) %> |
  <%= link_to "Back to wiki posts", wiki_posts_path %>
</div>

<%= button_to "Destroy this wiki post", @wiki_post, method: :delete,
form: {data: {turbo_confirm: "U sure? #{@wiki_post.title}?"}} %>
